dist
node_modules
.cache
.DS_Store
.env
*.log
*.log.bak
nohup.out
config/*.json
database.bin
.parcel-cache
zigbee2mqtt-data/state.json
zigbee2mqtt-data/database.db
zigbee2mqtt-data/coordinator_backup.json
